"@tpb:registry" "https://artifactory.eng.vmware.com/artifactory/api/npm/tpb-npm-local/"
registry "https://build-artifactory.eng.vmware.com/artifactory/api/npm/npm/"
"@dev:registry" "http://localhost:4873"
