"@esback:registry" "https://artifactory.eng.vmware.com/artifactory/api/npm/esback-npm-local/"
"@tpb:registry" "https://artifactory.eng.vmware.com/artifactory/api/npm/esback-npm-local/"
registry "https://build-artifactory.eng.vmware.com/artifactory/api/npm/npm/"
