@esback:registry = https://artifactory.eng.vmware.com/artifactory/api/npm/esback-npm-local/
//artifactory.eng.vmware.com/artifactory/api/npm/esback-npm-local/:_authToken=${NPM_AUTH_TOKEN}
email = ${NPM_AUTH_EMAIL}
